
body {
	font-family: Arial, sans-serif;
	background-color: #f4f4f4;
	display: flex;
	justify-content: center;
	padding: 80x;
}

form {
	background-color: #fff;
	padding: 20px 30px;
	border-radius: 8px;
	box-shadow: 0 2px 10px rgb(0, 0, 0, 0.3);
}

h2 {
	text-align: center;
}

label {
	display: block;
	margin-top: 8px;
	font-weight: bold;
}

input {
	display: block;
	width: 100%;
	padding: 4px;
	margin-top: 8px;
	border: 1px solid #ccc;
	border-radius: 4px;
}

button {
	margin-top: 20px;
	width: 105%;
	background-color:aqua;
	color: white;
	border: none;
	padding: 2px;
	border-radius: 4px;
	font-size: 16px;
	cursor: pointer;
}

button:hover {
	background-color: #007bff;
}


